body {
  background-color: #0d263a;
}
nav {
  padding: 1em;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #0d263a;
}
nav li a {
  text-align: center;
  color: white;
  display: block;
  text-decoration: none;
  padding: 0.5em 1em;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.4s;
  background-position-x: center;
}

nav li a:hover,
nav li a:focus {
  background-size: 100% 2px;
  background-position-x: center;
}

img {
  width: 80%;
  height: auto;
}

.main {
  background-image: url(/img/01.png)
}

@media screen and (min-width: 600px) {
  nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  nav li {
    flex-grow: 1;
    text-align: center;
    margin-top: 85px;
  }
  h1 {
    background-image: ;
  }
}